
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');


.App {
  font-family: 'Patrick Hand', cursive;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  text-align: center;
  background: url('background.jpg') center;

}


